body{
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    width: 400px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.panel{
height: 40px;
flex-grow: 1;
border: 1px solid black;
}

.buttons{
flex-grow: 4;

display: flex;
}

.numbers{

flex-grow: 4;
display: flex;
flex-direction: column;
}

.operators{

flex-grow: 1;
display: flex;
flex-direction: column;
}

.num-row
{
    flex-grow: 1;
    display: flex;
}
.num-button{
    flex-grow: 1;
    height: auto;
}

.op-button{
    flex-grow: 1;
}

button{
    background-color: rgb(89, 89, 93);
    color: white;
}